#section3
    h2
        text-align: center
    h3
        text-align: center
    #carte2
        > div
            display: flex
            justify-content: center
            div
                div
                img